body{
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
}
#holdingTable{
	margin-left:auto;
	margin-right: auto;
}
#toolbox{
	border: thin solid black;
	height:359px;	/* height = 480(starting) - 2(padding) - 150 (colors) */
	width:40px;
	margin-left:auto;
	margin-bottom:2px;
	border-spacing: 0px;
    border-collapse: collapsed;
}
#toolOptions{
	/*display: table-cell;*/
    vertical-align: middle;
	border: thin solid black;
	margin-bottom:4px;
	height:25px;
	max-width:800px;
	vertical-align:top;
}
#toolOptions input[type="range"]{
	width: 100px;
	vertical-align: middle;
}
#colourPicker{
	border: thin solid black;
}
#canvas{
	border: thin solid black;
}
#layerHolder{
	border: thin solid black;
	height:357px;	/* height = 480(starting) - 2(padding) - 2(extra borders) + 26 (options)*/
	width:150px;
	margin-bottom:2px;
	overflow-y:scroll;
}
#layerInfo{
	border: thin solid black;
	height:150px;
	width:150px;
}
#layertools{
	width:100%;
	margin:0px;
	border-spacing: 0px;
    border-collapse: collapsed;
}
#layertools td{
	padding:3px;
}

/**Button Classes**/
.button{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5ebee+0,d7dee3+100 */
	background: #e5ebee; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5ebee 0%, #d7dee3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e5ebee 0%,#d7dee3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e5ebee 0%,#d7dee3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5ebee', endColorstr='#d7dee3',GradientType=0 ); /* IE6-9 */

}
.button:hover, .button.selected:hover{
	background:#a6a6a6;
}
.button.selected{
	background:#bfbfbf;
}
.toolBarIMG{
	width:15px;
	height:15px;
}
/**Useful Classes**/
.bold{
	font-weight:bold;
}
.red{
	color:red;
}
.textCenter{
	text-align:center;
}
.thinBorderBottom{}
/****************/
.layerBox{
	height:25px;
	padding-top:3px;
	padding-bottom:3px;
	background-color:#E0E3E5;
	border-bottom:thin solid lightgrey;
}
.layerBox.selected{
	background-color:lightgrey;
	border-bottom:thin solid lightgrey;
}